$main-color: #000;
$color-accent: #1e88e5;
$error-color: #EA6747;
$privacy-terms-color: #666666;
$main-background-color: white;
$common-gap: 1.2rem;
$default-border-on-hover: 1px solid #31728D;
$common-font-weight: 700;
$common-subtitle-font-weight: 300;
