@import './variables';

.quiz-screen {
  padding: $common-gap 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100dvh;

  &__header {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin-bottom: 7.4rem;
  }

  &__nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2.4rem;
  }

  &__back-btn {
    height: 4rem;
    border: none;
    background-color: $main-background-color;
    cursor: pointer;
  }

  &__progress {
    font-size: 1.6rem;
    font-weight: $common-font-weight;

    &-current {
      color: $color-accent;
      display: inline-block;
    }
        
    &-separator,
    &-total {
      color: $main-color;
      display: inline-block;
    }
  }

  &__texts {
    text-align: center;
    gap: 1.2rem;
  }

  &__title {
    font-size: 2.5rem;
    font-weight: $common-font-weight;
    margin: 0;
    margin-bottom: $common-gap;
  }

  &__subtitle {
    font-size: 1.2rem;
    font-weight: $common-subtitle-font-weight;
    color: #777;
    margin: 0;
  }

  &__content-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    flex: 1;
  }

  &__content {
    display: grid;
    grid-template-rows: auto auto;
    overflow: hidden;
    width: 100%;
    height: 32rem;
  }

  &__continue-btn {
    font-size: 1.8rem;
    font-weight: 800;
    border-radius: 1rem;
    border: none;
    background-color: $color-accent;
    color: $main-background-color;
    cursor: pointer;
    transition: opacity 0.3s ease;
    width: 100%;
    height: 5rem;
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;

    &:disabled {
      background: #E8E6EF;
      cursor: not-allowed;
    }
  }

  &__options-list {
    overflow-y: auto;
  }
}