// @import './styles/variables';

// html {
//   font-size: calc(2.66vw); // для 375px ширини
// }

// @media (min-width: 480px) {
//   html {
//     font-size: 15px;
//   }
// }

// body {
//   margin: 0;
//   font-family: 'Arial', sans-serif;
//   background: #fff;
// }

// @import './styles/_variables';

// За замовчуванням: 1rem = 2.66vw
html {
  font-size: 2.66vw;
}

// Якщо ширина екрану > 480px: 1rem = 15px
@media screen and (min-width: 480px) {
  html {
    font-size: 15px;
  }
}

// Можна додати також базові стилі
body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  color: #000;
  background-color: #fff;
}